# Ignore runtime specific output files
point_cloud.ply

# Ignore virtual environment directory
env/
images-to-stl-env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore site-packages in virtual environment
env/lib/python3.12/site-packages/
images-to-stl-env/lib/python3.10/site-packages/

# Ignore other common files
*.log
*.sqlite3
.DS_Store

# Ignore system-specific files
.vscode/
.idea/

# Ignore Python specific files
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS specific files
*.DS_Store
